@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
